<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1>Here is Your Team!</h1>
  <ul>
    <li><%="Team Name: #{@team}"%></li>
    <li><%="Coach: #{@coach}"%></li>
    <li><%="Point Guard: #{@point}"%></li>
    <li><%="Shooting Guard: #{@shoot}"%></li>
    <li><%="Power Forward: #{@power}"%></li>
    <li><%="Small Forward: #{@small}"%></li>
    <li><%="Center: #{@center}"%></li>
  </ul>
 </body>
</html>


